{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1><img src="/static/logo.png" width="300" height="60"/></h1>
    <h1>Project List</h1>
    <div class="projects">
      {% for project in projects %}
        <div class="project">
          <h2><a href="#">{{project.projectName}}</a></h2>
          <p>{{project.projectStatus}}</p>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
